@import "tailwindcss";

@theme {
  --font-sans: "Space Mono", ui-monospace, monospace;

  --color-background: theme("colors.neutral.100");
  --color-background-secondary: theme("colors.neutral.200");
  --color-foreground: theme("colors.neutral.900");
  --color-foreground-secondary: theme("colors.neutral.800");
  --color-brand: theme("colors.sky.500");
  --color-hover: theme("colors.neutral.400");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-background text-foreground;
  }
}

html,
body {
  /* @apply bg-neutral-100; */
  /* @apply text-neutral-900; */
}
