@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Space Mono", ui-monospace, monospace;

  --color-background: theme("colors.neutral.200");
  --color-background-secondary: theme("colors.neutral.300");
  --color-background-tertiary: theme("colors.neutral.50");
  --color-background-error: theme("colors.red.100");
  --color-foreground: theme("colors.neutral.900");
  --color-foreground-secondary: theme("colors.neutral.800");
  --color-foreground-error: theme("colors.red.700");
  --color-brand: theme("colors.sky.500");
  --color-hover: theme("colors.neutral.400");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-background-tertiary) inset;
  box-shadow: 0 0 0px 1000px var(--color-background-tertiary) inset;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    font-family: var(--font-sans);
    @apply bg-background-secondary text-foreground;
  }
}
